@page
@model Examples.Pages.AlertModel
@{
    ViewData["Title"] = "Alert";
}

<alert>
    Hello World
</alert>

<h2>Usage</h2>
<pre>
&#60;alert&#62;Hello World&#60;/alert&#62;
</pre>

<h2>Properties</h2>
<table class="table">
    <tr>
        <td>
            alert-style
        </td>
        <td>
            Primary,
            Secondary,
            Success,
            Info,
            Warning,
            Danger,
            Dark,
            Light
        </td>
    </tr>
</table>
