@page
@model Examples.Pages.AlertModel
@{
    ViewData["Title"] = "Alert";
}

<alert>
    Hello World
</alert>

<alert alert-style="Primary">Primary</alert>

&#60;alert&#62;


<h2>Properties</h2>
<table class="table">
    <tr>
        <td>
            alert-style
        </td>
        <td>
            Primary,
            Secondary,
            Success,
            Info,
            Warning,
            Danger,
            Dark, 
            Light
        </td>
    </tr>
</table>
