@page
@model Examples.Pages.AutoTableModel
@{
    ViewData["Title"] = "AutoTable";
}


<h2>AutoTable properties</h2>
<table class="table">
    <tr>
        <td>show-header</td>
        <td>true, false</td>
    </tr>
    <tr>
        <td>show-record-count</td>
        <td>true, false</td>
    </tr>
    <tr>
        <td>record-label</td>
        <td></td>
    </tr>
    <tr>
        <td>record-plural-label</td>
        <td></td>
    </tr>
    <tr>
        <td>columns</td>
        <td></td>
    </tr>
    <tr>
        <td>items</td>
        <td></td>
    </tr>
    <tr>
        <td>row-count</td>
        <td></td>
    </tr>
    <tr>
        <td>pagination-count</td>
        <td></td>
    </tr>
</table>

<h2>AutoColumn Properties</h2>
<table class="table">
    <tr>
        <td>Name</td>
        <td></td>
    </tr>
    <tr>
        <td>type</td>
        <td>
            Number,
            ShortText,
            LongText,
            Date,
            Time,
            DateTime,
            Email,
            FirstName,
            LastName,
            Name,
            YesNo,
            Link,
            ButtonLink,
            Enumeration,
            MultiEnumeration,
            MultiEnumerationAll,
            Address,
            Templated,
            MultiRows,
            MultiColumns,
            Conditional
        </td>
    </tr>
    <tr>
        <td>url</td>
        <td>URL</td>
    </tr>
    <tr>
        <td>text</td>
        <td>Any text</td>
    </tr>
</table>
