@page
@model Examples.Pages.BoxModel
@{
    ViewData["Title"] = "Box";
}

<box>Good morning</box>


<h2>Usage</h2>
<pre>
&#60;box&#62;
Good Morning
&#60;/box&#62;
</pre>


<h2>Properties</h2>
<table>
    <tr>
        <td>height</td>
        <td>xxpx</td>
    </tr>
    <tr>
        <td>border</td>
        <td>xxpx</td>
    </tr>
</table>


