@page
@model Examples.Pages.IndexModel
@{
    ViewData["Title"] = "Razor Wire Example";
}

<ul>
    <li>
        <a href="Accordion">Accordion</a>
    </li>
    <li>
        <a href="Alert">Alert</a>
    </li>
    <li>
        <a href="AutoLink">AutoLink</a>
    </li>
    <li>
        <a href="AutoTable">AutoTable</a>
    </li>
    <li>
        <a href="Box">Box</a>
    </li>
    <li>
        <a href="Breadcrumb">Breadcrumb</a>
    </li>
    <li>
        <a href="Form">Form</a>
    </li>
    <li>
        <a href="Grid">Grid</a>
    </li>
    <li>
        <a href="Navigation">Navigation</a>
    </li>
    <li>
        <a href="Panel">Panel</a>
    </li>
    <li>
        <a href="Tabs">Tabs</a>
    </li>
</ul>