@page
@model Examples.Pages.IndexModel
@{
    ViewData["Title"] = "Razor Wire Example";
}

<ul>
    <li>
        <a href="Accordion">Accordion</a>
    </li>
    <li>
        <a href="Alert">Alert</a>
    </li>
    <li>
        <a href="AutoLink">AutoLink</a>
    </li>
    <li>
        <a href="AutoTable">AutoTable</a>
    </li>
    <li>

    </li>
    <li>

    </li>
    <li>

    </li>
    <li>

    </li>
    <li>

    </li>
</ul>